<section id="home">
	<div class="bg-holder d-none d-md-block bg-size" style="background-image:url(img/illustrations/hero.png);background-position:right bottom;"></div>
	<!--/.bg-holder-->

	<div class="bg-holder" style="background-image:url(img/illustrations/heroheader-bg.png);background-position:center;background-size:contain;"></div>
	<!--/.bg-holder-->

	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
				<h1 class="fw-bold display-4 fs-4 fs-lg-6 fs-xxl-7 text-gradient">
					Gilles Patrick</h1>
				<h1 class="text-700">Painter in the Bronx, 
					<span class="fw-bold">New York, USA</span>
				</h1>
				
				<a class="btn hover-top btn-glow btn-klean" href="{{path ('portfolio')}}">Discover my Portfolio</a>
			</div>
		</div>
	</div>
</section>
<br>
